---
title: 'Some news'
type: news
layout: page
visibility: Visible
write: true
render: true
date: 2013-11-11T13:43:32.000Z
short: 'some short info'
status: 'Active'
cms:
    title: 'Some news'
    short: 'some short info'
    content: '<p>Some where was some thing...</p>'
    visibility: Visible
    status: 'Active'
    date: 1384177412000
    updated_at: 1384179264362
    id: 3c0194004ad611e39e571752827cbdd1867bea80260c42d8
---
<p>Some where was some thing...</p>
