---
title: 'Some thing else'
type: news
layout: page
visibility: Visible
write: true
render: true
status: 'Active'
date: 2013-11-11T13:42:24.000Z
cms:
    title: 'Some thing else'
    content: '<p>Some where was some thing else...</p>'
    visibility: Visible
    status: 'Active'
    date: 1384177344000
    updated_at: 1384177364314
    id: 5a36bb804ad611e39e571752827cbdd146a95ea784e44252
---
<p>Some where was some thing else...</p>
