/*
 R.Beygulenko HTML5 Framework v3
 -----------------------------------
 Forms v1.3
 -----------------------------------
 Author: Ruslan B. (r.beygulenko@gmail.com)
 Last modified: 07.11.2013
*/

/* placeholder (defaut) */
input::-webkit-input-placeholder {color:#666}
input:-moz-placeholder {color:#666}
input::-moz-placeholder {color:#666}
input:-ms-input-placeholder {color:#666}


input[type=text] {height:24px; border-radius:3px; margin-bottom:12px; line-height:24px; color:#A4A3A1; font-size:12px; border:2px solid #F7F7F7; border-left-color:#A8A8A8; border-top-color:#A8A8A8; padding:0 10px;}
input[type=button], input[type=submit], button {transition:background 0.3s; background:url(../../images/button-bg.png) repeat-x left top; font-size:12px; color:#323433; border:1px solid #A2A2A2;border-radius:3px; text-align:center; padding:0 15px; cursor:pointer; height:26px; line-height:26px;}
input[type=button]:hover, input[type=submit]:hover, button:hover { background:#EAEAEA;}