/*
 R.Beygulenko HTML5 Framework v3
 -----------------------------------
 Layout
 -----------------------------------
 Author: Ruslan B. (r.beygulenko@gmail.com)
 Last modified: 07.11.2013
*/

/* layout */
#layout {width:1366px; margin:0 auto;}
.content {position:relative;}
/* header */
.header .logo {display:block; width:238px; height:52px; background:url(../../images/logo.png) no-repeat left top;float:left; margin:30px 0 0 60px;}
.header .login {display:block; transition:opacity 0.3s; text-decoration:none; color:#FFF; width:92px; height:40px; background:#CF2448; text-transform:uppercase; text-align:center;float:right; padding-top:50px;}
.header .login:hover { opacity:0.8;}
.header .search {float:right; margin-right:20px; margin-top:50px;}
.header .search input[type=text] {border:1px solid #C2C2C2;border-radius:0px; width:134px; height:15px; line-height:15px;font-size:11px; padding:0 10px;float:left;}
.header .search input[type=button] {padding:0px; background: url(../../images/search-button.png) no-repeat;cursor:pointer;  width:15px; height:17px; margin-right:12px; border:0px; font-size:0px; line-height:0px; text-indent:-9999px;float:left;}
.header .nav {float:right; margin-top:51px; text-transform:uppercase; margin-right:16px;}
.header .nav li {float:left;position:relative; margin-left:11px;}
.header .nav li a {color:#000000;position:relative; display:block; z-index:10; text-decoration:none;}
.header .nav li ul {padding-top:50px; width:180px;display:none;z-index:9;position:absolute;left:0px; top:0px; margin:0px; text-transform:uppercase; font-size:11px;}
.header .nav li ul li {margin:0px; float:none;}
.header .nav li ul li a {color:#B6B6B6; text-decoration:none;}
.header .nav li ul li a:hover {text-decoration:underline;}
.subnav {display:none; width:100%;z-index:8; position:absolute; top:0px;left:0px; background:#000000;}
/* slider */
.slider .slide { width:100%;}
.slider-wrap .slider, .slider-wrap {position:relative;}
.slider-wrap .l, .slider-wrap .r {z-index:99;position:absolute; transition:opacity 0.3s; background:url(../../images/slider-arrows.png) no-repeat left top; left:105px; top:50%; margin-top:-23px;display:block; cursor:pointer; width:46px; height:46px;}
.slider-wrap .r {left:auto; right:105px; background-position: right top;}
.slider-wrap .l:hover, .slider-wrap .r:hover { opacity:0.8;}
/* widgets */
.widget {position:relative; text-align:center; padding:70px 0; text-transform:uppercase;}
.widget .d { position:absolute; cursor:pointer; bottom:0px; left:50%;width:89px; height:90px;margin-left:-45px;}
.widget-block-a {padding:0px;}
.widget-block-b .img, .widget-block-c .img {margin-bottom:48px;}
.widget-block-b .slider {height:590px;}
.widget-block-b p, .widget-block-c p, .widget-block-e p {font-size:25px; text-transform:uppercase; font-weight:bold;}
.widget-block-c, .widget-block-d { background:#CEDADA; padding-bottom:190px;}
.widget-block-c .d { background:url(../../images/adown_c.png) no-repeat; }
.widget-block-c .img, .widget-block-e .img {padding:60px 0;}
.widget-block-c .img a, .widget-block-e .img a {display:inline-block; margin:0 30px; border:11px solid #90989A;}
.widget-block-c .img a img {width:110px; height:98px;}
.widget-block-d { background:#333333; padding-bottom:140px;}
.widget-block-d .slider {height:520px;}
.widget-block-d .d { background:url(../../images/adown_d.png) no-repeat left top;}
.widget-block-d h2, .widget-block-e h2 {color:#B8B9B3; font-size:16px; margin-bottom:15px;}
.widget-block-d h1, .widget-block-e h1 {color:#FFF; margin-bottom:35px;}
.widget-block-d .slider-wrap .l, .widget-block-d .slider-wrap .r {top:320px; background:url(../../images/slider-arrows.png) no-repeat left -48px;}
.widget-block-d .slider-wrap .r { background-position:right -48px;}
.widget-block-e { background:#CF2448;}
.widget-block-e h1 {color:#FFF; margin-bottom:0px;}
.widget-block-e h2 {color:#171719;}
.widget-block-e .slider {height:520px;}
.widget-block-e .slider-wrap .l, .widget-block-e .slider-wrap .r {top:300px; background:url(../../images/slider-arrows.png) no-repeat left -96px;}
.widget-block-e .slider-wrap .r { background-position:right -96px;}
.widget-block-e .img {padding:80px 0;}
.widget-block-e .img a {border:17px solid #B9203F; margin:0 28px;}
.widget-block-e .img a img {width:186px; height:166px;}
.widget-block-e p {font-size:20px; color:#FFF;}
.widget-block-f { text-transform:none; text-align:left; padding:95px 75px;}
.widget-block-f .news {max-width: 590px; float:left; background:url(../../images/logo2.png) no-repeat left top; padding-left:266px; min-height:210px;}
.widget-block-f .news h2 {font-size:18px; margin-bottom:15px;}
.widget-block-f .news h2 a { text-decoration:none; color:#000;}
.widget-block-f .news h2 a:hover { text-decoration:underline;}
.widget-block-f .generated-form {float:right; width:312px;}
.widget-block-f .generated-form h3 { margin-bottom:2px;height:59px; color:#FFF; background:url(../../images/subscribe-title.png) no-repeat left top; padding:14px 0 0 11px; font-size:16px; font-weight:bold;}
.widget-block-f .generated-form p {padding-left:11px; margin-bottom:32px;}
.widget-block-f .generated-form label.form-subtitle {display:block; text-transform:uppercase; font-size:17px; font-weight:bold; margin-bottom:23px;}
.widget-block-f .generated-form input[type=text] {width:292px; margin-bottom: 0;}
.widget-block-f .generated-form select {
    width:316px;
    height: 28px;
    border-radius: 3px;
    line-height: 24px;
    font-size: 12px;
    border: 2px solid #F7F7F7;
    border-left-color: #A8A8A8;
    border-top-color: #A8A8A8;
    background-color: white;
    color: #A4A3A1;
    padding:3px;
    outline:none;
}
.widget-block-f .generated-form input[type=checkbox], .widget-block-f .generated-form input[type=radio] { margin-bottom: 0; vertical-align: middle; position: relative; bottom: 1px; }
.widget-block-f .generated-form textarea { color: #A4A3A1; width:292px; border-radius: 3px; line-height: 24px; font-size: 12px; border: 2px solid #F7F7F7; border-left-color: #A8A8A8; border-top-color: #A8A8A8; background-color: white; padding: 0 10px; }
.widget-block-f .generated-form .checkbox-label, .widget-block-f .generated-form .radio-label { color: #A4A3A1; line-height: 24px; margin-right: 10px; display: inline-block; }
.widget-block-f .generated-form .checkbox-label.include-other-option, .widget-block-f .generated-form .radio-label.include-other-option { margin-right: 0; width: 316px; }
.widget-block-f .generated-form .checkbox-label input.include-other-option, .widget-block-f .generated-form .radio-label input.include-other-option { width: 275px; }
.widget-block-f .generated-form .input-block-wrap { margin-bottom: 12px; }
.widget-block-f .generated-form input {height: 24px;}
.widget-block-f .generated-form input[type=submit] {width:316px; padding:0px;}
.widget-block-f .generated-form label.before-input-label {display: none;}

.content .lcol {float: left; width: 30%}
.content .rcol {float: left; width: 70%}
/* footer */
.footer { background:#000000; padding:5px 55px; color:#8B8B8B; font-size:9px;  text-transform:uppercase;}
/* pagination */
.pagination li { list-style: none; display: inline; }

/*news list on news page*/
ul.news-list li {
    list-style: none;
    display: block;
    padding-bottom: 10px;
}
ul.news-list li p {
    padding-bottom: 10px;
    border-bottom: 1px dotted #BBBBBB;
}
ul.news-list a {text-decoration: none;}
ul.news-list h3 a {color: black;}
.news a {text-decoration: none;}

span.news-date {
    color: #808080;
    font-size: 12px;
}
.c2c {margin-left: 70px;}
.crumbs {text-transform: uppercase; font-weight: bold; padding: 15px 0; }
.crumbs ul li a {display:block; float:left; text-decoration: none;color: black; padding-right:5px;}
.crumbs ul li a:after { content: "/"; margin-left: 5px;}
.crumbs ul li:last-child a {color: #CD2549;}
.crumbs ul li:last-child a:after { content: "";}
.rcol h1, .rcol h2, .rcol h3, .rcol h4 {color: black;}

ul.lmenu {margin: 30px 30px;text-transform: uppercase; }
ul.lmenu li {margin: 5px 0;}
ul.lmenu li a {text-decoration: none; color: #808080; }
ul.lmenu li.selected a {color:#CD2549;}
