/*
 R.Beygulenko HTML5 Framework v3
 -----------------------------------
 CSS Tools v5 (HTML5+, CSS3+)
 -----------------------------------
 Author: Ruslan B. (r.beygulenko@gmail.com)
 Last modified: 12.10.2013
*/

/* base reset */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, span, applet, object, iframe, strike, kbd, q, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
img, body, html, abbr, acronym, a img { border: 0; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul, dir, menu { list-style: none; }
:focus, a, a:hover, a:active { outline: none; }
caption, th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
q:before, q:after { content: ''; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
sup, sub { line-height: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
svg:not(:root) { overflow: hidden; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
input::-moz-focus-inner {border: 0;padding: 0;}
textarea { resize: none; }

/* hidden objects */
.none { display: none; }
.hidden { visibility: hidden; }
/* additional */
.nf { float: none; }
.a-left { text-align: left; }
.a-right { text-align: right; }
.a-center { text-align: center; }
.left { float: left; }
.right { float: right; }
.help { cursor: help; }
.nobr { white-space: nowrap; }
img.a-left { float: left; margin: 0 10px 10px 0; }
img.a-right { float: right; margin: 0 0 10px 10px; }

/* noscript message */
.noscript-wrap {position:fixed;left:0px; top:0px; width:100%;height:100%; background:rgb(0,0,0);background: transparent\9;background:rgba(0,0,0,0.75);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf000000,endColorstr=#bf000000);zoom: 1;z-index:9999;}
.noscript {background: #C00; padding: 10px 0;font-size: 13px; text-shadow: 1px 0 1px #970000; line-height: 15px; color: #FFF; text-align: center;box-shadow: 0 0 5px #000;}
.noscript p { margin: 0px; }

/* clear floating */
.clearfix:after { clear: both; content: "."; height: 0px; display: block; visibility: hidden; line-height: 0px; font-size: 0px; }