/*
 R.Beygulenko HTML5 Framework v3
 -----------------------------------
 Typography v2
 -----------------------------------
 Author: Ruslan B. (r.beygulenko@gmail.com)
 Last modified: 07.11.2013
*/

body { font-size: 12px; font-family:Arial, Helvetica, sans-serif;color:#000;}

/* heading */
h1, h2, h3, h4, h5, h6 { margin-bottom:15px;text-transform:uppercase;}
h1 {font-size:67px; line-height:67px;  font-weight:bold;}
h2 {font-size:24px; line-height:24px; color:#CD2549; font-weight:bold; margin-bottom:25px;}
h3 {font-size:20px;}
h4 {font-size:18px;}
h5, h6 {font-size:16px;}

/* links */
a { color:#B81E40; }
a:hover { text-decoration: none;}
a:visited { }
a:active { }

/* fake links */
.false { text-decoration: none; }
.false { border-bottom: 1px dashed #FE5D55; text-decoration: none; }

/* base */
strong, b { font-weight: normal; font-family:'HelveticaNeue-Bold'; }
p { margin-bottom: 15px; }
u { text-decoration: underline; }
em, dfn { font-style: italic; }
del { text-decoration: line-through; }
ins { background: #ff9; color: #000; text-decoration: none; }
big { font-size: 120%; }
small { font-size: 80%; }
abbr[title], acronym { border-bottom: 1px dotted #666; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
pre, code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
hr { display: block; height: 1px; border: 0; border-top: 1px dashed #ccc; margin-bottom:15px; padding: 0; }
hr.wave { background:url(sep.png) repeat-x center top; height:5px; border:0px;}
blockquote { }
code, tt { }
cite { }

/* lists */
ul { }
ul li { }
ol { }
ol li { }
li ul, li ol { }
ul, ol { margin-bottom: 15px; }

/* definitions lists */
dl { margin: 0 0 15px 0; }
dl dt { font-weight: bold; }
dd { margin: 0 0 0 15px; }

/* tables */
table { border:0px; border-bottom:1px solid #C2DCEA; margin-bottom: 15px; width:100%;table-layout:fixed;border-collapse: collapse; border-spacing: 0px;}
table th, table td {padding:10px 15px; vertical-align:middle;}
table tr td {border:1px solid #C2DCEA;border-bottom:0px;}
table thead tr {border:1px solid #388BB3;border-bottom:0px;}
table thead tr th {border:0px;border-bottom:1px solid #388BB3;background:#58A9D0; color:#FFF; font-weight:700; font-size:20px; text-shadow:0 1px 0 #396E87;}
table tr.odd { background:#E8F1F6;}

/* editor content */
.editor { font-size: 13px; line-height: 16px; color:#434343;}
.editor ul, .editor ol { margin-bottom: 15px; padding-left: 20px; }
.editor ul li, .editor ol li { }
.editor ul { list-style:none; padding:0px;}
.editor ul li { background:url(ulli01.png) no-repeat left 7px; padding-left:13px;}
.editor ol { list-style: decimal outside; }